doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css")
        style
            include css/main.css
    body
        div(class='page-header')
            h1 Prayukti




script(src="/js/index.js")